@font-face {
  font-family: 'velocity';
  src: url('fonts/velocity.eot?94621047');
  src: url('fonts/velocity.eot?94621047#iefix') format('embedded-opentype'),
       url('fonts/velocity.woff2?94621047') format('woff2'),
       url('fonts/velocity.woff?94621047') format('woff'),
       url('fonts/velocity.ttf?94621047') format('truetype'),
       url('fonts/velocity.svg?94621047#velocity') format('svg');
  font-weight: normal;
  font-style: normal;
}

 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "velocity";
  font-style: normal;
  font-weight: normal;
  display: inline-block;
  font-size:1.3em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
 
}
 
.icon-velocity:before { content: '\e802'; }


body
{
	padding:0;
	margin:0;
	font-family: 'Quicksand', sans-serif;
}

header
{
	width:100%;
	height:150px;
	background-color:#ffffff;
	position:fixed;
	z-index:99;
	padding:0;
	margin:0;
	top:0;
	box-shadow: 0 0 30px rgba(0,0,0,0.2);
}

h2
{
	font-weight:normal;
	font-size:1.8em;
}

nav li
{
	display: inline;
	padding:10px 15px;
}

nav li a
{
	text-decoration:none;
	color:#000000;
}

#logo
{
	position:relative;
	width:300px;
	margin:0 auto;
}

#log
{
	width:300px;
	position:relative;
	z-index:90;
}

#wheel
{
	position: absolute;
	background-image:url(images/wheel.svg);
	top: 27.5%;
	left: 30.4%;
	width: 55px;
	height: 55px;
	-webkit-animation:spin 1.5s linear infinite;
	-moz-animation:spin 1.5s linear infinite;
	animation:spin 1.5s linear infinite;
}

@-moz-keyframes spin
{
	100%
	{
		-moz-transform: rotate(360deg);
	}

}

@-webkit-keyframes spin
{
	100%
	{
		-webkit-transform: rotate(360deg);
	}

}

@keyframes spin
{
	100%
	{
		-webkit-transform: rotate(360deg);
		transform:rotate(360deg);
	}

}

#navleft ul
{
	list-style:none;
	position: absolute;
	top: 30%;
	text-align:right;
	padding:0;
	width:33%;
}

#navright ul
{
	list-style:none;
	position: absolute;
	left: 65%;
	top: 30%;
	padding:0;
}

#navright li:nth-child(1)
{
	position:relative;
	margin-right:25px;
}

#navright li:nth-child(1)::before
{
	content:'';
	display:inline-block;
	height:1.8em;
	width:1.8em;
	background-image:url("images/bike.svg");
	background-repeat:no-repeat;
	position:absolute;
	top:9px;
	right:-20px;
}

#navleft li, #navright li
{
	position:relative;
}

#navleft li:hover::after, #navright li:hover::after
{
	content:'';
	width:100%;
	height:3px;
	background-color:#a8cd6e;
	position:absolute;
	left:0;
	right:0;
	top:242%;
}

#navleft li.active::after, #navright li.active::after
{
	content:'';
	width:100%;
	height:3px;
	background-color:#a8cd6e;
	position:absolute;
	left:0;
	right:0;
	top:242%;
}

#mobilemenu
{
	height:50px;
	width:100%;
	background-color:#a8cd6e;
	position:fixed;
	bottom:0;
	line-height:35px;
	display:none;
}

#mobilemenu ul
{
	display:flex;
	justify-content:space-around;
	margin:0;
	padding:0;
}

#mobilemenu i
{
	color:#4f6232;
}

#mobilemenu  i.active
{
	color:#ffffff;
}

#diap
{
	width:90%;
	height:500px;
	background-color:#676767;
	border-radius:50px;
	margin:250px auto 5% auto;
	text-align:center;
	position:relative;
}

#diap:before
{
	content:'';
	width:100%;
	height:100%;
	background-image:url("images/bike3.svg");
	background-size:300px;
	background-position:center;
	background-repeat:no-repeat;
	position:absolute;
	left:0;
	right:0;
	top:5%;
	opacity:0.05;
}

#slider
{
	width:100%;
	height:500px;
	border-radius:50px;
	overflow:hidden;
	position:relative;
	z-index:90;
}

#slider img
{
	width:100%;
}

#slider figure
{
	margin:0;
	position:absolute;
	float: left;
}

#slide1
{
	background-image:url('images/slide3.jpg');
	background-repeat:no-repeat;
	background-size:cover;
	background-position:bottom;
}

#slide2
{
	background-image:url('images/slide2.jpg');
	background-repeat:no-repeat;
	background-size:cover;
	background-position:bottom;
}

#slide3
{
	background-image:url('images/slide.jpg');
	background-repeat:no-repeat;
	background-size:cover;
	background-position:top;
}

#slide4
{
	background-image:url('images/slide4.jpg');
	background-repeat:no-repeat;
	background-size:cover;
	background-position:bottom;
}

#slide5
{
	background-image:url('images/slide5.jpg');
	background-repeat:no-repeat;
	background-size:cover;
	background-position:bottom;
}

#slider figcaption
{
	width:100%;
	position:absolute;
	font-size:2.5em;
	margin:0 auto;
	color:#ffffff;
	text-shadow: 2px 2px 0px #000000;
	top:200px;
}

.slide
{
	width: 100%;
	height: 100%;
	opacity: 0;
	transition: opacity 1s linear;
}

#slider > .slide:first-child
{
	opacity: 1;
}

#prev
{
	width:45px;
	height:45px;
	background-color:#a8cd6e;
	position:absolute;
	border-radius:100%;
	left:-1.5%;
	top:45%;
	color:#fff;
	padding:13px 0;
	border: 3px solid #ffffff;
	transition: .3s ease-in-out;
	text-decoration:none;
	cursor:pointer;
	z-index:90;
}

#prev:after
{
	content: "";
	position: absolute;
	top: 40%;
	left: 35%;
	width: 0;
	height: 0;
	border-right: 11px solid #ffffff;
	border-bottom: 5px solid transparent;
	border-top: 5px solid transparent;
}

#prev:hover
{
	transform:scale(1.15);
	background-color:#92b35f;
}

#next
{
	width:45px;
	height:45px;
	background-color:#a8cd6e;
	position:absolute;
	border-radius:100px;
	right:-1.5%;
	top:45%;
	color:#fff;
	padding:13px 0;
	border: 3px solid #ffffff;
	transition: .3s ease-in-out;
	text-decoration:none;
	cursor:pointer;
	z-index:90;
}

#next:after
{
	content: "";
	position: absolute;
	top: 40%;
	left: 35%;
	width: 0;
	height: 0;
	border-left: 11px solid #ffffff;
	border-bottom: 5px solid transparent;
	border-top: 5px solid transparent;
}

#next:hover
{
	transform:scale(1.15);
	background-color:#92b35f;
}

#reserver
{
	background-color:#ffffff;
	color:#000000;
	padding:15px 25px;
	border-radius:50px;
	text-transform:uppercase;
	text-decoration:none;
	position:absolute;
	top:80%;
	transition: .3s ease-in-out;
	left:46%;
}

#reserver:hover
{
	transform: scale(1.1);
}

#navlegend
{
	display:flex;
	justify-content: center;
	width:90%;
	height:auto;
	position:relative;
	margin:0 auto;
}

.circle
{
	height:15px;
	width:15px;
	background-color:#aaaaaa;
	border-radius:50px;
	position:relative;
}

#circle1
{
	position: absolute;
	bottom: 28px;
	left: -9px;
	transition: 1s ease-in-out;
}

#circle1:hover
{
	left: 15px;
}

#circle2
{
	width:100px;
	position:absolute;
	bottom:20px;
	left:-40px;
}

#circle3
{
	width:100px;
	position:absolute;
	bottom:20px;
	left:-40px;
}

.pulse
{
	cursor: pointer;
	box-shadow: 0 0 0 rgba(168,205,110, 0.4);
	background:#a8cd6e;
	animation: pulse 2s infinite;
}

.pulse:hover
{
	animation: none;
}

@-webkit-keyframes pulse
{
	0%
	{
		-webkit-box-shadow: 0 0 0 0 rgba(168,205,110, 0.4);
	}

	70%
	{
		-webkit-box-shadow: 0 0 0 10px rgba(168,205,110, 0);
	}

	100%
	{
		-webkit-box-shadow: 0 0 0 0 rgba(168,205,110, 0);
	}
}

@keyframes pulse
{
	0%
	{
		-moz-box-shadow: 0 0 0 0 rgba(168,205,110, 0.4);
		box-shadow: 0 0 0 0 rgba(168,205,110, 0.4);
	}

	70%
	{
		-moz-box-shadow: 0 0 0 10px rgba(168,205,110, 0);
		box-shadow: 0 0 0 10px rgba(168,205,110, 0);
	}

	100%
	{
		-moz-box-shadow: 0 0 0 0 rgba(168,205,110, 0);
		box-shadow: 0 0 0 0 rgba(168,205,110, 0);
	}
}

.line
{
	width:100px;
	height:0;
	margin:7px 15px!important;
	border: 0.5px solid #cacaca;
}

#information
{
	width: 60%;
	position:relative;
	margin:0 auto;
	text-align:center;
	padding-top:150px;
}

#information h2
{
	text-align:center;
}

#service
{
	display:flex;
	justify-content: center;
	width:90%;
	height:auto;
	position:relative;
	margin:0 auto;
}

#service div
{
	margin:10px 20px;
}

#t1
{
	width:100px;
	height:100px;
	border: 8px double #484848;
	border-radius:50%;
	position:relative;
	z-index:90;
}

#t1:before
{
	content:"";
	width:100px;
	height:100px;
	background-image:url(images/wheel2.svg);
	background-repeat:no-repeat;
	background-size:100px;
	position:absolute;
	opacity:1;
}

#t1:hover::before
{
	-webkit-animation:spin 2s linear infinite;
	-moz-animation:spin 2s linear infinite;
	animation:spin 2s linear infinite;
}

#t1:after
{
	content: "Trouvez";
	width: 100px;
	height: 15px;
	line-height: 15px;
	padding: 5px 0;
	position: absolute;
	top: 39px;
	left: 0;
	background-color: #484848;
	text-align: center;
	color: #fff;
}

#t2
{
	width:100px;
	height:100px;
	border: 8px double #484848;
	border-radius:50%;
	position:relative;
}

#t2:before
{
	content:"";
	width:100px;
	height:100px;
	background-image:url(images/wheel2.svg);
	background-repeat:no-repeat;
	background-size:100px;
	position:absolute;
	opacity:1;
}

#t2:hover::before
{
	-webkit-animation:spin 2s linear infinite;
	-moz-animation:spin 2s linear infinite;
	animation:spin 2s linear infinite;
}

#t2:after
{
	content: "Réservez";
	width: 100px;
	height: 15px;
	line-height: 15px;
	padding: 5px 0;
	position: absolute;
	top: 39px;
	left: 0;
	background-color: #484848;
	text-align: center;
	color: #fff;
}

#t3
{
	width:100px;
	height:100px;
	border: 8px double #484848;
	border-radius:50%;
	position:relative;
}

#t3:before
{
	content:"";
	width:100px;
	height:100px;
	background-image:url(images/wheel2.svg);
	background-repeat:no-repeat;
	background-size:100px;
	position:absolute;
	opacity:1;
}

#t3:hover::before
{
	-webkit-animation:spin 2s linear infinite;
	-moz-animation:spin 2s linear infinite;
	animation:spin 2s linear infinite;
}

#t3:after
{
	content: "Roulez";
	width: 100px;
	height: 15px;
	line-height: 15px;
	padding: 5px 0;
	position: absolute;
	top: 39px;
	left: 0;
	background-color: #484848;
	text-align: center;
	color: #fff;
}

.line2
{
	width:100px;
	height:0;
	margin:65px 0!important;
	border: 1px solid #a8cd6e;
}

#carte
{
	position:relative;
	margin:0;
	padding-top:150px;
}

#carte h2
{
	text-align:center;
}

#map
{
	width:90%;
	height:500px;
	display:flex;
	justify-content:center;
	margin:0 auto;
	padding-bottom:60px;
	background-color:#484848;
	border-radius:50px;
	overflow:hidden;
	z-index:90;
}

.marker-green
{
	background-image: url('images/bikegreen.png');
	background-size: cover;
	width: 30px;
	height: 30px;
	cursor: pointer;
}

.marker-red
{
	background-image: url('images/bikered.png');
	background-size: cover;
	width: 30px;
	height: 30px;
	cursor: pointer;
}

.marker-orange
{
	background-image: url('images/bikeorange.png');
	background-size: cover;
	width: 30px;
	height: 30px;
	cursor: pointer;
}

.mapboxgl-popup
{
	max-width: 200px;
}

.mapboxgl-popup-content
{
	text-align: center;
	font-family: 'Open Sans', sans-serif;
	border-radius: 15px;
}

.mapboxgl-popup-content i
{
    font-size:1.3em;
}

.mapboxgl-popup-content .icon-velocity
{

}

.mapboxgl-popup-close-button
{
	top:2px;
	font-size:13px;
}

.mapboxgl-canvas
{
	left:0;
	border-radius:50px;
}

.mapboxgl-ctrl-bottom-right > .mapboxgl-ctrl-attrib.mapboxgl-compact::after
{
	bottom: 20px;
	right:20px;
}

.mapboxgl-ctrl-bottom-left
{
	bottom: 20px;
	left: 20px;
}

.mapboxgl-ctrl-top-right
{
	top: 84%;
	left: 50%;
}

.mapboxgl-ctrl-top-right .mapboxgl-ctrl
{
	margin: 0;
	float: left;
	transform: rotate(90deg);
}

.mapboxgl-ctrl-group > button + button
{
	border-left: 1px solid #ddd;
	transform: rotate(90deg);
	border-top: 0;
}

.mapboxgl-ctrl-group
{
	border-radius: 25px;
}

#reservation
{
	background:#a8cd6e;
	height:560px;
	width:350px;
	z-index:90;
	position:absolute;
	right:0;
	opacity:0;
	-webkit-transition: 5s all ease-in-out;
	-moz-transition: 5s all ease-in-out;
	-ms-transition: 5s all ease-in-out;
	-o-transition: 5s all ease-in-out;
	transition: .5s all ease-in-out;
}

#reservation.display
{
	opacity:1;
}

#station-block
{
 	position:absolute;
	width:100%;
	height:200px; 
	top:180px;
	text-align:center;
	color:#3e4f25;
}


#station-name
{
	padding:0 10px;
	-webkit-transition: 5s all ease-in-out;
	-moz-transition: 5s all ease-in-out;
	-ms-transition: 5s all ease-in-out;
	-o-transition: 5s all ease-in-out;
	transition: .5s all ease-in-out;

}

#station-name h3
{
    font-size:1.5em;
	font-weight:400;
}

#station-name.display
{
    transform: translateY(-85px);
}

#close
{
	height:30px;
	width:30px;
	position:absolute;
	z-index:90;
	right: 15px;
	top: 15px;
	font-size:2em;
	font-weight:300;
	cursor:pointer;
}

#close p
{
    transition: .3s ease-in-out;
    color:#5b7338;
}

#close p:hover
{
    transform: scale(0.8);
}

#boutonreserver
{
    position:relative;
    z-index:90;
}

#bouton-reserver
{
	background-color:#ffffff;
	color:#000000;
	padding:15px 25px;
	border-radius:50px;
	border:0;
	box-shadow:0;
	text-transform:uppercase;
	text-decoration:none;
	position:absolute;
	top:65%;
	left:35%;
	z-index:91;
	cursor:pointer;
	transition: .3s ease-in-out;
}

#bouton-reserver:hover
{
	transform: scale(0.9);
}

#form
{
	width: 280px;
	height: auto;
	position: absolute;
	opacity:0;
	text-align:center;
	bottom:0;
	left:9%;
    transform: translateY(300px);
	-webkit-transition: 5s all ease-in-out;
	-moz-transition: 5s all ease-in-out;
	-ms-transition: 5s all ease-in-out;
	-o-transition: 5s all ease-in-out;
	transition: .5s all ease-in-out;
	z-index:12;

}

#form.display
{
    transform: translateY(0);
    opacity:1;
}

#form p
{
	font-size: 1.2em;
}

#form input[type=submit]
{
	border: 0;
	-moz-border-radius: 25px;
	-webkit-border-radius: 25px;
	border-radius: 25px;
	width: 100px;
	height: 40px;
	font-size: 0.9em;
	color: #000000;
	transition: .3s ease-in-out;
	cursor:pointer;
	background-color:#ffffff;
	line-height: 31px;
	-webkit-appearance: none;
	margin-top:200px;
}

#form input[type=submit]:hover
{
	transform: scale(0.9);
}

#form input
{
	-moz-border-radius: 25px;
	-webkit-border-radius: 25px;
	border-radius: 25px;
	border: 1px solid #87a855;
	font-family: 'robotomedium', Helvetica, Arial, sans-serif;
	color: #ffffff;
	width: 240px;
	height: 20px;
	margin-bottom: 10px;
	font-size: 0.9em;
	padding: 6px 16px;
	background-color:rgba(0,0,0,0.1);
	-webkit-appearance: none;
}

#form input::placeholder
{
	color:#ffffff;
}

#sign
{
    width:300px;
    height:170px;
    border: 1px solid #87a855;
    border-radius:50px;
    background-color: rgba(0,0,0, 0.1);
    position:absolute;
    opacity:0;
    -webkit-transition: 5s all ease-in-out;
	-moz-transition: 5s all ease-in-out;
	-ms-transition: 5s all ease-in-out;
	-o-transition: 5s all ease-in-out;
	transition: .5s all ease-in-out;
	bottom:90px;
	right:25px;
	z-index:15;
}

#sign.display
{
    opacity:1;
}


#message-validation
{
    opacity:0;
    font-size:2em;
    font-weight:300;
    color:#3e4f25;
    text-align:center;
    -webkit-transition: 5s all ease-in-out;
	-moz-transition: 5s all ease-in-out;
	-ms-transition: 5s all ease-in-out;
	-o-transition: 5s all ease-in-out;
	transition: .5s all ease-in-out;
	padding:70% 0;
	z-index:10;
}

#message-validation.display
{
    opacity:1;
}




#reservation-valid
{
	width:100%;
	display:none;
	justify-content: center;
}

#timer
{
	width:40%;
	height:50px;
	background-color:#a8cd6e;
	margin:0 auto;
	bottom:0;
	position:fixed;
	z-index:90;
	border-top-left-radius: 100px;
	border-top-right-radius: 100px;
	font-size:0.8em;
	text-align: center;
	line-height: 20px;
	padding-top:10px;
	color:#3e4f25;
}

#timer span
{
	font-weight:bold;
} 

/*Légende map*/

#legende
{
	width:90%;
	height:auto;
	display:flex;
	justify-content:center;
	margin:50px auto 0 auto;
	padding-bottom:60px;
}

#legende div
{
	margin:10px 40px;
	text-align:center;
}

#bgreen
{
	position:relative;
	width:140px;
}

#bgreen:before
{
	content:"";
	width:30px;
	height:30px;
	background-image:url(images/bikegreen.svg);
	background-repeat:no-repeat;
	background-size:100%;
	position:absolute;
	bottom: 100%;
	left: 40%;
}

#borange
{
	position:relative;
	width:160px;
}

#borange:before
{
	content:"";
	width:30px;
	height:30px;
	background-image:url(images/bikeorange.svg);
	background-repeat:no-repeat;
	background-size:100%;
	position:absolute;
	bottom: 100%;
	left: 40%;
}

#bred
{
	position:relative;
	width:140px;
}

#bred:before
{
	content:"";
	width:30px;
	height:30px;
	background-image:url(images/bikered.svg);
	background-repeat:no-repeat;
	background-size:100%;
	position:absolute;
	bottom: 100%;
	left: 40%;
}

#contact
{
	width: 90%;
	margin:0 auto;
	position:relative;
	text-align:center;
	padding-top:150px;
}

#contact h2
{
	text-align:center;
}

#contact p
{
    width:60%;
    margin:0 auto;
}

#contactform
{
	width: 274px;
	height: auto;
	margin:60px auto;
	text-align:center;
}


#contactform p
{
	font-size: 1.2em;
}

#contactform input[type=submit]
{
	border: 0;
	-moz-border-radius: 25px;
	-webkit-border-radius: 25px;
	border-radius: 25px;
	width: 100px;
	height: 40px;
	font-size: 0.9em;
	color: #000000;
	transition: .3s ease-in-out;
	cursor:pointer;
	background-color:#ffffff;
	line-height: 31px;
	-webkit-appearance: none;
}

#contactform input[type=submit]:hover
{
	transform: scale(0.9);
}

#contactform input
{
	-moz-border-radius: 25px;
	-webkit-border-radius: 25px;
	border-radius: 25px;
	border: 1px solid #87a855;
	font-family: 'robotomedium', Helvetica, Arial, sans-serif;
	color: #ffffff;
	width: 100%;
	height: 20px;
	margin-bottom: 10px;
	font-size: 0.9em;
	padding: 6px 16px;
	background-color:rgba(0,0,0,0.1);
	-webkit-appearance: none;
}

#contactform textarea
{
   	-moz-border-radius: 25px;
	-webkit-border-radius: 25px;
	border-radius: 25px;
	border: 1px solid #87a855;
	font-family: 'robotomedium', Helvetica, Arial, sans-serif;
	color: #ffffff;
	width: 100%;
	height: 200px;
	margin-bottom: 10px;
	font-size: 0.9em;
	padding: 6px 16px;
	background-color:rgba(0,0,0,0.1);
	-webkit-appearance: none; 
}

#contactform input::placeholder
{
	color:#ffffff;
}



footer
{
	width:100%;
	height:auto;
	background-color:#484848;
	position:relative;
	padding:50px 0;
}

footer p
{
	color:#ffffff;
	font-size:0.8em;
	text-align:center;
}

#dublin
{
	width:135px;
	margin:0 auto;
	right:40px;
	top:0;
	position:absolute;
}

/*------ Responsive ------*/
/*--------------*/
/* Mobile Portrait View */
@media screen and (max-width:767px)
{
	#service
	{
		flex-direction:column;
		align-items: center;
	}

	.line2
	{
		width: 0;
		height: 100px;
		margin: 0 !important;
		border: 1px solid #a8cd6e;
	}
}

@media screen and (min-width: 481px) and (max-width: 767px)
{
	#reserver
	{
		top:82%;
		left:30%;
	}

	#diap
	{
		margin:250px auto 10% auto;
	}

	#prev
	{
		left:-7%;
	}

	#next
	{
		right:-7%;
	}
}

/* Mobile Landscape View */
@media screen and (min-width: 300px) and (max-width: 481px)
{
	header
	{
		height:130px;
	}

	#logo
	{
		bottom:5px;
	}

	#navleft, #navright
	{
		display:none;
	}

	#diap
	{
		margin:200px auto 15% auto;
	}

	#prev
	{
		left:-5%;
	}

	#next
	{
		right:-5%;
	}

	#reserver
	{
		top:82%;
		left:33%!important;
	}

	#navlegend
	{
		margin-top:120px;
	}

	.line
	{
		width: 70px;
	}

	#carte
	{
		margin:100px 0 0 0;
	}

	#legende div
	{
		margin: 10px 10px;
	}

	#bgreen::before, #borange::before, #bred::before
	{
		left:35%;
	}

	#reservation
	{
		height:250px;
		width:100%;
		bottom:0;
	}
	
	#close
	{
	    right: 5px;
	    top: 0;
	}

	#station-info
	{
		top:70px;
	}

	#form
	{
		display:none;
	}

	#service
	{
		flex-direction:column;
		align-items: center;
	}

	#dublin
	{
		right:0;
		left:0;
	}

	footer p
	{
		margin-top:80px;
		margin-bottom:30px;
	}
}

/* Tablet View */
@media screen and (max-width:1169px) and (min-width:768px)
{
	#diap
	{
		margin:250px auto 10% auto;
	}

	#prev
	{
		left:-2.5%;
	}

	#next
	{
		right:-2.5%;
	}
}

@media screen and (max-width: 980px)
{
	#navleft, #navright
	{
		display:none;
	}

	#reserver
	{
		top:82%;
		left:43%;
	}

	#info
	{
		flex-direction:column;
		align-items:center;
	}

	#info img
	{
		width:335px;
		height:auto;
		border-top-left-radius:50px;
		border-top-right-radius:50px;
	}

	#mobilemenu
	{
		display:block;
	}
}

@media only screen and (max-width: 670px)
{
}